BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  AfterFunction: true
NamespaceIndentation: Inner
IndentPPDirectives: AfterHash
PointerAlignment: Right
