.vscode/
build/
.clangd/
cmake-build*
.vs/
out/
CMakeFiles/
Debug/
Release/
pch/

*.user*
*.sln
*.vcproj*
*.vcxproj*
*.pro
*.swp
*.aps
*.stash
*.qm
/pch.h.cpp
compile_commands.json
tags
.DS_Store
CMakeSettings.json
*.orig
*.bak
*.autosave
custom.cmake
cmake_install.cmake
CMakeCache.txt
createbundle*
bookreader_resource.rc